.a-panel-main {
	--a-panel-base-unit: 8px;
	--a-panel-padding-block: calc(2 * var(--a-panel-base-unit));
	--a-panel-padding-inline: calc(2 * var(--a-panel-base-unit));
	--a-panel-gap: calc(2 * var(--a-panel-base-unit));

	.MuiListItemButton-root {
		padding-inline: var(--a-panel-padding-inline);

		& + .MuiCollapse-root > .MuiCollapse-wrapper > .MuiCollapse-wrapperInner > .MuiStack-root:not(:where(.MuiCollapse-root .MuiCollapse-root)) {
			padding-block: var(--a-panel-padding-block);
			padding-inline: var(--a-panel-padding-inline);
		}
	}

	.MuiCollapse-root > .MuiCollapse-wrapper > .MuiCollapse-wrapperInner > .MuiStack-root {

		*:not(:has(> label,> .MuiButtonBase-root)) {
			row-gap: var(--a-panel-gap);
		}

		*:not(:has(> .MuiButtonBase-root)) {
			column-gap: var(--a-panel-gap);
		}
	}

	div:empty {
		position: absolute;
		left: -1vw;
		top: -1vh;
		width: 0;
		height: 0;
	}
}
