:root {
	--a-panel-base-unit: 8px;
	--a-panel-spacing: calc(2 * var(--a-panel-base-unit));
}

:where(.MuiPopover-root *) {
	--a-panel-popover-spacing: calc(1.5 * var(--a-panel-base-unit));
	--a-panel-spacing: var(--a-panel-popover-spacing);
}

:where(.a-panel-main * ) {
	--a-panel-padding-block: var(--a-panel-spacing);
	--a-panel-padding-inline: var(--a-panel-spacing);
	--a-panel-row-gap: var(--a-panel-spacing);
	--a-panel-column-gap: var(--a-panel-spacing);
}

.a-panel-main {

	.MuiPopover-root {

		&:not(.MuiTag-root + .MuiPopover-root) > *:not(:has(.MuiTabPanel-root)),
		.MuiTabPanel-root {
			padding-block: var(--a-panel-padding-block);
			padding-inline: var(--a-panel-padding-inline);
		}
	}

	.MuiListItemButton-root {
		padding-inline: var(--a-panel-padding-inline);

		& + .MuiCollapse-root > .MuiCollapse-wrapper > .MuiCollapse-wrapperInner > .MuiStack-root:not(:has(.MuiListItemButton-root + .MuiCollapse-root > .MuiCollapse-wrapper > .MuiCollapse-wrapperInner)) {
			padding-block: var(--a-panel-padding-block);
			padding-inline: var(--a-panel-padding-inline);
		}
	}

	.MuiCollapse-root > .MuiCollapse-wrapper > .MuiCollapse-wrapperInner > .MuiStack-root {

		*:not(:has(> label,> .MuiButtonBase-root)):not(.MuiInputBase-root) {
			row-gap: var(--a-panel-row-gap);
		}

		*:not(:has(> .MuiButtonBase-root)):not(.MuiInputBase-root) {
			column-gap: var(--a-panel-column-gap);
		}
	}

	div:empty:not(.MuiCardMedia-root) {
		position: absolute;
		left: -1vw;
		top: -1vh;
	}
}
